#cabecera img {
  max-width: 150px;
}

#cabecera {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: justify;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 30%;
  justify-content: space-around;
}
/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card img {
  max-height: 300px;
  width: auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
#catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
